<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset='utf-8' />
<link href='./resources/css/fullcalendar.css'	th:href="@{/resources/css/fullcalendar.css}" rel='stylesheet' />
<link href='./resources/css/fullcalendar.print.css'	th:href="@{/resources/css/fullcalendar.print.css}" rel='stylesheet'	media='print' />
<link href="./resources/css/stylesheet.css" rel="stylesheet"	type="text/css" th:href="@{/resources/css/stylesheet.css}" />
<script type="text/javascript" th:src="@{/resources/lib/jquery.min.js}"	th:href="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/lib/moment.min.js}"	th:href="@{/resources/lib/moment.min.js}"></script>
<script type="text/javascript"	th:src="@{/resources/lib/jquery-ui.custom.min.js}"
	th:href="@{/resources/lib/jquery-ui.custom.min.js}"></script>
<script type="text/javascript"	th:src="@{/resources/js/fullcalendar.min.js}"	th:href="@{/resources/js/fullcalendar.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	var myEventsUrl = /*[[@{'/rest/myactivities/' + ${authname} }]]*/"/wannabethere/rest/myactivities/user137";
	var eventDetailUrl = /*[[@{'/myactivities/' + ${authname} + '/event/'}]]*/"/wannabethere/myactivities/user138/event/f96c9b43e2d64c3db51b3d0cab0ab738";
	//alert(myEventsUrl);

	$(document).ready(function() {

		/* initialize the calendar
		-----------------------------------------------------------------*/

		/*
		date store today date.
		d store today date.
		m store current month.
		y store current year.
		 */
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		/*
			Initialize fullCalendar and store into variable.
			Why in variable?
			Because doing so we can use it inside other function.
			In order to modify its option later.
		 */

		var calendar = $('#calendar').fullCalendar({
			/*
				header option will define our calendar header.
				left define what will be at left position in calendar
				center define what will be at center position in calendar
				right define what will be at right position in calendar
			 */
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'month,agendaWeek,agendaDay'
			},
			timezone: 'local',
			/*
				defaultView option used to define which view to show by default,
				for example we have used agendaWeek.
			 */
			defaultView : 'month',
			/*
				selectable:true will enable user to select datetime slot
				selectHelper will add helpers for selectable.
			 */
			selectable : true,
			selectHelper : true,
			/*
				when user select timeslot this option code will execute.
				It has three arguments. Start,end and allDay.
				Start means starting time of event.
				End means ending time of event.
				allDay means if events is for entire day or not.
			 */
			select : function(start, end, allDay) {
				/*
					after selection user will be promted for enter title for event.
				 */
				var title = prompt('Event Title:');
				/*
					if title is enterd calendar will add title and event into fullCalendar.
				 */
				if (title) {
					calendar.fullCalendar('renderEvent', {
						title : title,
						start : start,
						end : end,
						allDay : allDay,
					}, true // make the event "stick"
					);
				}
				calendar.fullCalendar('unselect');
			},
			/*
				editable: true allow user to edit events.
			 */
			editable : true,
			/*
				events is the main option for calendar.
				for demo we have added predefined events in json object.
			 */
			events : {
				events : function(start, end, timezone, callback) {
					//alert(start.unix());
					$.ajax({
						url : myEventsUrl,
						dataType : 'json',
						data : {
							// our hypothetical feed requires UNIX timestamps
							start : start.unix() * 1000,
							end : end.unix() * 1000
						},
						success : function(eventdata) {
							var events = [];
							$(eventdata.events).each(function() {
								events.push({
									title : $(this).attr('title'),
									start : $(this).attr('startDate'), // will be parsed
									end : $(this).attr('endDate'),
									allDay : false,
									url : eventDetailUrl + $(this).attr('id')
								});
							});
							callback(events);
						}
					});
				}
			}
		});

	});
	//]]>
</script>
<script type="text/javascript">
	function addFriendFn(friendId, srcProfileType) {
		var username = $('#loggedInUser').val();
		var url = "../events/" + username + "/addFriend";
		var param = {
			"profileType" : srcProfileType,
			"id" : friendId
		};

		$.ajax({
			url : url,
			dataType : "json",
			type : 'POST',
			data : param,
			success : function(data) {
				alert('Added successfully' + data);
			}
		});
	}
</script>
<style>


body {
	
}

#calendar {
	width: 900px;
	font-family: Arial !important;
	margin: 0 auto;
	padding-bottom: 20px;
}

.fc-header-title h2 {
	background-image: none !important;
}
</style>
</head>
<body>
	<header th:include="include :: signedHeader"> </header>
	<div id="content">
		<article2> 
			<section>
			<div class="topmenu" th:include="include :: topmenu"></div>
			<div class="event1">
				<div class="createevent">
					<a href="#" th:href="@{/calendarevent/}">
						<img src="./../../resources/images/createevent.png" th:src="@{/resources/images/createevent.png}"  alt="" />
					</a>
				</div>
				<div class="clear">&nbsp;</div>
				<div id='calendar'></div>
			</div>
		</section> 
		</article2>
		<footer th:include="include :: footer"> </footer>
	</div>
</body>
</html>
