<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:fragment="header">
    <meta charset="utf-8" />
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<title>Include</title>
</head>

<body>

	<header th:fragment="header">
   <div id="logo">
   <img src="./../../resources/images/logo.png" th:src="@{/resources/images/logo.png}" width="150" height="36" /> </div>
   <nav>
      <ul>
         <li><a href="#">What's New</a>|</li>
         <li><a href="#">Sign In</a>|   </li>
         <li><a href="#">Sign Up</a>    </li>
      </ul>
   </nav>

	</header>
	<header th:fragment="signedHeader">
   		<div id="logo">
   			<img src="images/logo.png" th:src="@{/resources/images/logo.png}" width="150" height="36" /> 
   		</div>
   		<nav>
      		<ul>
         		<li><a href="#">What's New</a>| </li>
      		</ul>
   		</nav>
	</header>
	
	<div th:fragment="banner">
		<div class="menu">
			<ul>
				<li id="last-menu-item">&nbsp;</li>
			</ul>
		</div>
		<div id="banner">
			<h1 th:text="#{app.name}">App Name</h1>
			<h2>Socialize your app</h2>
			<hr/>
		</div>
	</div>
	
	<div th:fragment="logo">
		<div id="logo">
			<h1 th:text="#{app.name}">App Name</h1>
			<h2>Socialize your app</h2>
			<hr/>
		</div>
	</div>
	
	<div th:fragment="menu">
		<div class="menu">
			<ul>
				<li><a href="#" th:href="@{/fb/profile}">FB Profile</a></li>
				<li><a href="#" th:href="@{/fb/post}">Update FB status</a></li>
				<li><a href="#" th:href="@{/share/supc}">Share SUPC</a></li>
				<li><a href="#" th:href="@{'/friends/'+${authname}}">Friends</a></li>  
				<li><a href="#" th:href="@{/google/profile}">Google Profile</a></li>
				<li id="last-menu-item"><a href="#" th:href="@{'/calendarevents/'+${authname}}">List Events</a></li>
				<li id="last-menu-item"><a href="#" th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</div>
	
	<div th:fragment="disconnect">
		<form id="disconnect" action="#" th:action="@{#{'disconnect.url.' + ${source}}}" method="post">
			<button type="submit" th:text="#{'disconnect.button.' + ${source}}">Disconnect from Social</button>	
			<input type="hidden" name="_method" value="delete" />
		</form>
	</div>
	
	<div th:fragment="footer1">
		<div class="footer">
			<hr/>
			<span>Activity App by Yatrix Teams </span>
			<a href="http://yatrix.net">http://www.yatrix.net</a>
		</div>
	</div>
	
	 <footer th:fragment="footer">
	 	<a href="#">Terms</a> 
	 	<a href="#">| </a> 
	 	<a href="#">Privacy Policy</a>
	 	<a href="#">| </a>
	 	<a href="#"> About Us</a> <a href="#">| </a> 
	 	<a href="#">Contact Us</a>
   		<div class="copyright">&copy; 2014 RIVVUE. All Right Reserved</div>
	</footer>
</body>
</html>