<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>RIVVUE</title>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="./../resources/css/stylesheet.css" th:href="@{/resources/css/stylesheet.css}" />
<link href="./../../../css/colorbox.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/colorbox.css}"/>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}" th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.autocomplete.min.js}" th:href="@{/resources/js/jquery.autocomplete.min.js}"></script>
<script  language="javascript1.5" th:href="@{/resources/js/jquery.colorbox.js}"></script>

</head>

<body >

<header th:include="include :: signedHeader">
</header>
<div id="content1">

   <article>
   
   <section> 
   <!--topmenu start-->
  <div class="topmenu" th:include="include :: topmenu">
</div>  
   <!--topmenu end-->
   <div id="breadcrumb1">
<ul>
<li><a href="#">home</a> ></li>
<li>Events</li>

</ul>
</div>
   <div class=" clear"></div>
  
   
    <!--Form Start-->
 <form id="form" name="form" th:object="${commanduser}" th:action="@{'/profile/'+${authname}+'/createRefContact'}" method="post">
 				<input type="hidden" name="from" id="from"  th:value="${authname}"  />

 <div class="inner_form1">
					<label>User name :</label>
					<div class="text_field"><input type="text" name="username" id="username" th:field="*{username}"/></div>
</div>
 <div class="inner_form1">
					<label>User Id :</label>
					<div class="text_field"><input type="text" id="id" name="id" th:field="*{id}"/> 
					<!-- <div class="add"><img src="./resources/images/add.png" alt="" /></div> -->
					</div>
				
</div>
				
 <div class="inner_form1">
					<label>First name :</label>
					<div class="text_field"><input type="text" name="firstName" id="firstName" th:field="*{firstName}"/></div>
				
</div>
 <div class="inner_form1">
					<label>Last Name: </label>
					<div class="text_field"><input type="text" name="lastName" id="lastName" th:field="*{lastName}"/></div>
				
</div>
 

 

                
           <div class="inner_form_button2">
				<input type="submit" value="SUBMIT" class="submit_button" name="submit" />
             	 <div class="myevent"><a href="#">Cancel</a></div>
             
				</div>
                     
 </form>
    <!--From box-->
    
   </section>
    
   </article> 
   
   
   
   
  <!--aside start--> 
  <aside>
      <div class="calenderbutton">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="./resources/images/calender.jpg" th:src="@{/resources/images/calender.jpg}" width="110" height="36" /></td>
    <td><img src="./resources/images/group.jpg" th:src="@{/resources/images/group.jpg}" width="110" height="36" /></td>
  </tr>
</table>

    </div>
    <div class="calender">
       <img src="./resources/images/date.jpg"  th:src="@{/resources/images/date.jpg}" width="232" height="207" /> 
       </div>
    <div class= "topparti">Top Participats </div>
       <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="./resources/images/connect.png"  th:src="@{/resources/images/connect.png}"  width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./resources/images/topparticipant.jpg"  th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="./resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="./resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="./resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
       
  </aside>
  <!--aside close-->
  <!--footer start-->
    <footer><a href="#">Terms</a> <a href="#">| </a> <a href="#">Privacy Policy</a><a href="#">| </a><a href="#"> About Us</a> <a href="#">| </a> <a href="#">Contact Us</a>
   <div class="copyright">&copy; 2014 RIVVUE. All Right Reserved
   </div>
</footer>
<!--footer close-->
</div>
<!--content close-->

</body>
</html>
