<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>RIVVUE</title>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="./../../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
<link href="./../../../css/colorbox.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/colorbox.css}"/>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}" th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<script src="./../../../js/jquery.colorbox.js" language="javascript1.5"></script>
<script>
$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
								$(".inline").colorbox({inline:true, width:"50%"});
				$(".callbacks").colorbox({
					onOpen:function(){ alert('onOpen: colorbox is about to open'); },
					onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
					onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
					onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
					onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
				});

				$('.non-retina').colorbox({rel:'group5', transition:'none'})
				$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
				
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onload="MM_preloadImages('images/correctred.png','images/normalfacebook.png','images/overtwitter.png','images/overgoogleplus.png','images/overphone.png','images/searchover.png')">

<header>
   <div id="logo">
   <img src="images/logo.png" width="150" height="36" /> </div>
   <nav>
      <ul>
         <li><a href="#">What's New</a>
|         
</li>
         <li><a href="#">Sign In</a> 
|
         </li>
         <li><a href="#">Sign Up</a>
      </li></ul>
   </nav>
</header>
<div id="content1">

   <article>
   
   <section> 
   <!--topmenu start-->
    <div class="topmenu">
   <ul>
   <li><a href="#">Events</a> </li>
   <li>|</li>
   <li><a href="#">Calendar</a> </li>
   <li>|</li>
   <li><a href="#">Contacts</a></li>
   
   </ul>
   
   </div>
   
   <!--topmenu end-->
   <div id="breadcrumb1">
<ul>
<li><a href="#">home</a> ></li>
<li>Events</li>

</ul>
</div>
   <div class=" clear"></div>
  
   
    <!--Form Start-->
 <form action="" method="get">
 <div class="inner_form1">
					<label>Title :</label>
					<div class="text_field"><input type="text" name="mtitle"></div>
				
</div>
 <div class="inner_form1">
					<label>Description: </label>
					<div class="text_field"><textarea name="textarea"></textarea></div>
				
</div>
 
 <div class="inner_form1">
					<label>Tags :</label>
					<div class="text_field"><input type="title" name="mtitle" > <div class="add"><img src="images/add.png" alt="" /></div></div>
				
</div>
<div class="inner_form_button">
				<input type="submit" value="" class="sport_button" name="button">
                <input type="submit" value="" class="fun_button" name="button">
                <input type="submit" value="" class="pleasure_button" name="button">
				</div>
  <div class="inner_form1"></div>
  <div class="inner_form1">
					<label>Location :</label>
					<div class="text_field"><input type="text" name="mtitle" class="locationbox"></div>
				
</div>
   <div class="inner_form1">
					<label>Start Time :</label>
					<div class="text_field"><input type="starttime" name="mtitle" class="timeinput watchbox"><label>End Time :</label><input type="starttime" name="mtitle" class="timeinput watchbox"></div>
				
</div>
<div class="inner_form1">
					<label>Repeat Event: </label>
					<div class="text_field">
						<select>
							<option>Never....</option>
							<option>Never....</option>
							<option>Never....</option>
						</select>
					
					</div>
				
				</div>
  <div class="inner_form_button1">
				<a class='inline' href="#inline_content"><input type="submit" value="" class="invitefriend_button" name="button"></a>
                <a class='inline' href="#inline_content1"><input type="submit" value="" class="looking_button" name="button"></a>
             
				</div>
                
           <div class="inner_form_button2">
				<input type="submit" value="SUBMIT" class="submit_button" name="button">
             	 <div class="myevent"><a href="#">Cancel</a></div>
             
				</div>
                     
 </form>
    <!--From box-->
    
   </section>
    
   </article> 
   
   
   
   
  <!--aside start--> 
  <aside>
      <div class="calenderbutton">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="images/calender.jpg" width="110" height="36" /></td>
    <td><img src="images/group.jpg" width="110" height="36" /></td>
  </tr>
</table>

    </div>
    <div class="calender">
       <img src="images/date.jpg" width="232" height="207" /> 
       </div>
    <div class= "topparti">Top Participats </div>
       <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
       
  </aside>
  <!--aside close-->
  <!--footer start-->
    <footer><a href="#">Terms</a> <a href="#">| </a> <a href="#">Privacy Policy</a><a href="#">| </a><a href="#"> About Us</a> <a href="#">| </a> <a href="#">Contact Us</a>
   <div class="copyright">&copy; 2014 RIVVUE. All Right Reserved
   </div>
</footer>
<!--footer close-->
</div>
<!--content close-->
<div style='display:none'>
			<div id='inline_content' style='padding:10px; background:#fff;'>
            <div  class="headingpop">Invite</div>
            <div class="socialiconpopup">
            <ul>
            <li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image27','','images/normalfacebook.png',1)"><img src="images/overfacebook.png" name="Image27" width="139" height="115" border="0" id="Image27" /></a></li>
            <li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image28','','images/overtwitter.png',1)"><img src="images/normaltwitter.png" name="Image28" width="139" height="115" border="0" id="Image28" /></a></li>
            <li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image29','','images/overgoogleplus.png',1)"><img src="images/normalgoogle.png" name="Image29" width="139" height="115" border="0" id="Image29" /></a></li>
            <li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image30','','images/overphone.png',1)"><img src="images/phonecontact.png" name="Image30" width="139" height="116" border="0" id="Image30" /></a></li>
            <li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image31','','images/searchover.png',1)"><img src="images/searchnor.png" name="Image31" width="139" height="115" border="0" id="Image31" /></a></li>
            </ul>
            
            
            
            </div>
            
            
            
			<div id="invitefriend">
     <div id="image"><img src="images/topparticipant.jpg" width="40" height="40" /></div>
  
     <div id="innerbox">
          <!--start heading -->
        
          <div class="name">Jack Mcleish <div class="correctround"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','images/correctred.png',1)"><img src="images/correctgray.png" name="Image19" width="55" height="54" border="0" id="Image19" /></a></div>


        </div>
    
    
    

    </div>

</div>
			<div id="invitefriend">
     <div id="image"><img src="images/topparticipant.jpg" width="40" height="40" /></div>
  
     <div id="innerbox">
          <!--start heading -->
        
          <div class="name">Barbara Tisiot <div class="correctround"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image21','','images/correctred.png',1)"><img src="images/correctgray.png" name="Image21" width="53" height="54" border="0" id="Image21" /></a></div>


        </div>
    
    
    

    </div>

</div>

		<div id="invitefriend">
     <div id="image"><img src="images/topparticipant.jpg" width="40" height="40" /></div>
  
     <div id="innerbox">
          <!--start heading -->
        
          <div class="name">Katie Milburn <div class="correctround"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image20','','images/correctred.png',1)"><img src="images/correctgray.png" name="Image20" width="53" height="54" border="0" id="Image20" /></a></div>


        </div>
    
    
    

    </div>

</div>
		
        <div id="invitefriend">
     <div id="image"><img src="images/topparticipant.jpg" width="40" height="40" /></div>
  
     <div id="innerbox">
          <!--start heading -->
        
          <div class="name">Josh Kripura <div class="correctround"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image22','','images/correctred.png',1)"><img src="images/correctgray.png" name="Image22" width="53" height="54" border="0" id="Image22" /></a></div>


        </div>
    
    
    

    </div>

</div>
  </div>
		</div>
        
        <div style='display:none'>
			<div id='inline_content1' style='padding:10px; background:#fff;'>
           
            <div class="headingpop">Looking For & Viewable</div>
            <div  class="mheading"><ul><li>Viewable By</li> <li>Open To</li> </ul></div>
        <table width="100%" cellpadding="0" border="0" cellspacing="0"  class="tab1">
  <tbody><tr>
    <td width="50" class="tab1"><img alt="" src="images/gloabe.png"></td>
    <td width="448" class="publictxt tab1">Public</td>
    <td class="borderrig tab1" width="50" class=""><input type="checkbox" value="" name=""></td>
    <td class="borderrig tab1">&nbsp;&nbsp;<input type="checkbox" value="" name=""></td>
  </tr>
<tr>
    <td width="50" class="tab2"><img src="images/friends.png" alt="" /></td>
    <td width="448" class="publictxt tab2">Friends</td>
    <td class="borderrig tab2" width="50" ><input type="checkbox" value="" name=""></td>
    <td class="borderrig tab2" >&nbsp;&nbsp;<input type="checkbox" value="" name=""></td>
  </tr>
  <tr>
    <td width="50" class="tab2"><img src="images/invites.png" alt="" /></td>
    <td width="448" class="publictxt tab2">Invitees</td>
    <td class="borderrig tab2" width="50" ><input type="checkbox" value="" name=""></td>
    <td class="borderrig tab2" >&nbsp;&nbsp;<input type="checkbox" value="" name=""></td>
  </tr>
   <tr>
    <td width="50" class="tab2"><img src="images/notonly.png" alt="" /></td>
    <td width="448" class="publictxt tab2">Only Me</td>
    <td class="borderrig tab2" width="50" ><input type="checkbox" value="" name=""></td>
    <td class="borderrig tab2" >&nbsp;&nbsp;<input type="checkbox" value="" name=""></td>
  </tr>
</tbody></table>
<div class="contenttxtpop">Using the audience selector right where you post events. This Control 
remebers your selection so future posts will be shared with the same
audiences unless you change it</div>

			</div>
			
		</div>
</body>
</html>
