<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>RIVVUE</title>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" th:href="@{/resources/css/stylesheet.css}"  />
<!-- <link rel="stylesheet" href="./../../../resources/css/style.css" th:href="@{/resources/css/style.css}" /> -->
<script type="text/javascript"  th:src ="@{/resources/js/jQuery.js}" th:href="@{/resources/js/jQuery.js}"></script>
<script type="text/javascript"  th:src ="@{/resources/js/dateFormat.js}" th:href="@{/resources/js/dateFormat.js}"></script>
<script type="text/javascript"  th:src ="@{/resources/js/jquery.dateFormat.js}" th:href="@{/resources/js/jquery.dateFormat.js}"></script>

<script type="text/javascript" >

		$(function(){

			
			$('#message').keyup(function(e){
			    if((e.keyCode || e.which) == 13) {
			    	postMessage();
			    }
			});
			
			$('#join').on("click", function(e){
			    	joinEvent();
			});
			
			$("#Delete").on("click", function(e){
				deleteEvent();
			});
		});
		
		function deleteEvent(){
			var deleteUrl =  "/wannabethere/myactivities/" + $('#username').val() + "/" + $('#eventId').val() + "/deleteEvent";
			//alert("Url: " + deleteUrl);
			$("#event_details").get(0).setAttribute("action", deleteUrl);
			$("#event_details").submit();
		}
		

		function joinEvent(){
			var param = {"userType":$('#userType').val()};
			$.ajax({
				url : "/wannabethere/myactivities/" + $('#username').val() + "/" + $('#eventId').val() + "/joinEvent?userType="+$('#userType').val(),
				dataType : "json",
				success : function(messagePosted) {
					alert("Join successful." );
					
				}
			});
		}

	function postMessage() {
		//alert("submit method called...");
		var param = {"message":$('#message').val()};

		$.ajax({
					url : "/wannabethere/myactivities/" + $('#username').val() + "/" + $('#eventId').val() + "/postFBMessage",
					dataType : "json",
					data : param,
					success : function(messagePosted) {
						//alert("Message posted: " + messagePosted);
						$('#message').val('');
						//alert("Date:" + new Date(messagePosted.createdTime));
						var createMessageDiv = '<div id="eventrec">' +
     					             '<div id="image"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" /></div>' +
     								'<div id="innerbox"> <div id="heading">' +
          							'<div class="name" >' + messagePosted.from.name + '</div><div class="subname" >' + messagePosted.message + '</div>'+
          							'<div class="daytime" >' + $.format.date(new Date(messagePosted.createdTime), 'ddd dd, MMMM yyyy') + '</div></div></div></div>';
						
						$('#formbox').before(createMessageDiv);
						//$('#commentsTable tr:last').after('<tr><td>' + messagePosted.message +'</td><td> <b> on </b> </td><td>' + messagePosted.createdTime  +'</td><td> <b> by </b> </td><td>' + messagePosted.from.name +'</td></tr>');
					}
				});
	}
</script>
</head>

<body>
<!--header start-->
<header th:include="include :: signedHeader">
</header>
<!--header end-->
<!--content start-->
<div id="content1">

   <article>
   
   <section> 
   <!--topmenu start-->
   <div class="topmenu" th:include="include :: topmenu">
</div> 
   
   <!--topmenu end-->
   <div class="clear:both;"></div>
   <!--breadcrumb start-->
<div id="breadcrumb">
<ul>
<li><a href="#">home</a> ></li>
<li><a href="#">Events</a> ></li>
<li>Watch Movie Gravity</li>
</ul>
</div>
<!--breadcrumb end-->

   <div id="watchmovie">
     <div id="image"><img th:src="@{/resources/images/video.jpg}" width="56" height="56" /></div>
 
     <div id="innerbox">
      
          <div id="heading">
          <h1 th:text="${event.title}">WATCH MOVIE GRAVITY</h1>    <input th:if="${displayJoin == true}" type="button" id="join" name="join" value="join"/> 
          <input th:if="${displayDelete == true}" type="button" id="Delete" name="Delete" value="Delete"/>
          <div id="rightbox">    8 yorum
            <img th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img th:src="@{/resources/images/yellowstar.png}" width="14" height="14" /><br/>
   <div class="daytemp">17*
             </div>
           </div>
                 
          </div>
          <!-- We do not have the description in our App yet. -->
				<p th:text="${event.description}">In product Help.</p>
				<p>Created By: <span th:text="${event.authorFullName}"></span></p>
        		<div class="style1" th:text="${#dates.format(event.startDate, 'EEEE dd, MMMM yyyy')}">Friday, 20 Decomber 2013   </div>
      			<div class="style2">
      				<span th:text="${#dates.format(event.startDate, 'HH:mm a')}">8:30am</span> &nbsp;&nbsp; &rarr;&nbsp;&nbsp; 
      				<span th:text="${#dates.format(event.endDate, 'HH:mm a')}">8:30am</span> 
      					<span class="imdb" style="font-size:18px;">(<span th:text="${event.duration}">1</span>hour(s))</span>
      				</div>
      <!-- <div class="style1">7:00pm  &rarr; 8:00pm (PST) </div> -->
         <h2><span class="subhead" th:text="${event.formattedAddress}">Ponderosa Park, Sunnyvale,CA  </span><a href="#">(View Map)</a></h2>
    </div>

    </div>
 
   <div id="eventrec" th:each="u : ${event.appComments}">
     <div id="image"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" /></div>
  
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          		<div class="name" th:text="${u.fromAuthorName}">Katie Milburn</div>
				<div class="subname" th:text="${u.message}">I’m Game</div>
				<!--<div class="daytime" th:text="${#dates.format(u.createdTime, 'EEEE dd, MMMM yyyy')}">Friday at 4:31pm</div>-->
          </div>
    
     <!--end heading -->
    </div>

    </div>
  <!--<div id="eventrec" th:each="appPosts : ${comments}">
     <div id="image"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" /></div>
  
     <div id="innerbox">
    
          <div id="heading">
          <div class="name" th:text="${appPosts.from.name}">Katie Milburn</div>
<div class="subname" th:text="${appPosts.message}">I’m Game</div>
<div class="daytime" th:text="${#dates.format(appPosts.createdTime, 'EEEE dd, MMMM yyyy')}">Friday at 4:31pm</div>
          </div>
    
    
    </div>

    </div>-->
        
  <div id="formbox">
     
  <form id="event_details" action="" method="get">
  <input type="hidden" name="username" id="username"  th:value="${authname}"  />
  <input type="hidden" name="userType" id="userType"  th:value="${userType}"  />
   <input type="hidden" name="eventId" id="eventId" th:value="${event.id}"  />
 <div class="inner_form1">
					<div class="text_field1"><input type="text" name="message" id="message" size="100" /></div>
				<div class="post"><a href="javascript:postMessage()" id="post" name="post" >POST</a></div>
</div>
</form>
     
    
    
    

    </div>
   </section>
    
   </article> 
   
   
   
   
  <!--aside start--> 
  <aside>
      
    
    <div class= "attending">
    <ul>
    <li><img th:src="@{/resources/images/participants.png}" alt="" /></li>
    <li><a href="#">Attending (4)</a></li>
    <li class="decline">Declined (2)</li>
    <li class="decline">Maybe (2)</li>
    </ul>
    
     </div>
       <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
       
      
       <div class="watch"><a href="#">Watch (12)</a></div>
       <div id="topparticipatsbox">
       <div class="topparticipatsimg1"><img th:src="@{/resources/images/eventicon.png}" alt=""  width="28" height="22"/>
       </div>
       
       <div class="topparticipatscomment1"> Event Pictures(Post Event Activity)      </div>
       </div>
       <div id="topparticipatsbox"><img th:src="@{/resources/images/eventimg.png}" alt="" /> </div>
       <div id="eventheading1">Other Event</div>
       
    	<div id="eventimagenew">
     <div id="image"><img th:src="@{/resources/images/eventhead.png}" alt=""  border="0" height="292"/></div>
  
     
    
    
    

    </div>
  </aside>
  <!--aside close-->
  <!--footer start-->
    <footer th:include="include :: footer">
   </footer>
<!--footer close-->
</div>
<!--content close-->

</body>
</html>
