<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="#{app.name}">RIVVUE</title>
<link href='http://fonts.googleapis.com/css?family=Oswald'
	rel='stylesheet' type='text/css' />
<link href="/resources/css/stylesheet.css" rel="stylesheet"	type="text/css" th:href="@{/resources/css/stylesheet.css}" />
<script type="text/javascript"  th:src ="@{/resources/js/jQuery.js}" th:href="@{/resources/js/jQuery.js}"></script>

<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

//]]>
</script>
</head>

<body>
<header th:include="include :: signedHeader"> </header>
<input type="hidden" name="loggedInUser" id="loggedInUser"	th:value="${authname}" />

<div id="content1">
	<div class="newarticle">
	    <br />
		<div  class="headingpop">Invite</div>
        <div class="text_field_search"><input type="formtext" name="mtitle" value="Enter Contact Name" /></div>
		
		<div id="invitefriend" th:each="u : ${users.profiles}">
        	<div id="image"><img th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" /></div>
  
        	<div id="innerbox">
         	 <!--start heading -->
          		<div class="namenew" ><span th:text="${u.firstName}" >Jack Mcleish </span>
          			<div class="correctround">
          				<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image19','','images/correctred.png',1)">
          					<img th:src="@{/resources/images/correctgray.png}" name="Image19" width="55" height="54" border="0" id="Image19" />
          				</a>
          			</div>
        		</div>
    		</div>
		</div>

        <div id="cncbtn_contacts"><a href="#">Cancel</a></div>
        <div id="addbtn_contacts"><a href="#"><img th:src="@{/resources/images/add.png}"  width="74" height="28" /></a></div>
  </div>
    
    <!--footer start-->
  <footer th:include="include :: footer">
  </footer>
  
<!--footer close-->
</div>
</body>
</html>
