<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title th:text="#{app.name}" >RIVVUE</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald"  rel="stylesheet" type="text/css"  />
	<link href="./../../../resources/css/stylesheet.css"  rel="stylesheet" type="text/css"  th:href="@{/resources/css/stylesheet.css}"/>
	<script type="text/javascript" th:src="@{/resources/js/jQuery.js}" th:href="@{/resources/js/jQuery.js}"></script>
	
	 <script type="text/javascript" th:inline="javascript" >
		//<![CDATA[
		     var eventArray = new Array();
		     
		     $(document).ready(function(){
		    	 $("input[id*='eventid']").each(function(){
		    		//alert("Values" + $(this).val());
		    		 eventArray.push($(this).val());
		    	});
		    	 
		    	populateWeather();
		    	populateRating();
		     });
		     
		     function populateWeather(){
		    	 //alert(eventArray);
		    	 $.ajax({
						url : "/wannabethere/rest/myactivities/" + $('#username').val() + "/weather"  ,
						dataType : "json",
						data:"events=" + eventArray,
						success : function(response) {
							$.each(response.weatherDetails, function(index){
								//alert("Weather: " + response.weatherDetails[index].weather);
								//alert($('temperature_' + response.weatherDetails[index].eventId).name());
								$('#temperature_' + response.weatherDetails[index].eventId).html(response.weatherDetails[index].weather);
							});
						}
					});	
		     }
		     
		     function populateRating(){
		    	 //alert(eventArray);
		    	 $.ajax({
						url : "/wannabethere/rest/myactivities/" + $('#username').val() + "/rating"  ,
						dataType : "json",
						data:"events=" + eventArray,
						success : function(response) {
							$.each(response.ratings, function(index){
								//alert("Weather: " + response.weatherDetails[index].weather);
								//alert($('temperature_' + response.weatherDetails[index].eventId).name());
								$('#imdbrating_' + response.ratings[index].eventId).html(response.ratings[index].rating);
							});
						}
					});	
		     }
		     
		     function acceptEvent(eventId){
		    	 $.ajax({
						url : "/wannabethere/myactivities/" + $('#username').val() + "/" + eventId + "/acceptedEvent",
						dataType : "json",
						success : function(messagePosted) {
							alert("Join successful." );
							
						}
					});
		     }
		     
		     function rejectEvent(eventId){
		    	 $.ajax({
						url : "/wannabethere/myactivities/" + $('#username').val() + "/" + eventId + "/rejectEvent",
						dataType : "json",
						success : function(messagePosted) {
							alert("Reject successful." );
							
						}
					});
		     }
		//]]>
</script>
</head>

<body>
<header th:include="include :: signedHeader">
</header>
<div id="content1">

   <article>
   
   <section> 
  <!--topmenu start-->
  <div class="topmenu" th:include="include :: topmenu">
</div>
   
<!--topmenu end-->
   
   <div class="event1">
   <input type="hidden" name="username" id="username"  th:value="${authname}"  />
   <div class="createevent"><a href="#" th:href="@{/calendarevent/}"><img src="./../../resources/images/createevent.png" th:src="@{/resources/images/createevent.png}"  alt="" /></a></div>
     <div class="myevent"><a href="#" th:href="@{'/myactivities/'+${authname} + '/invitedevents'}">Invited Events</a></div>
   <div class="allevent"><a th:href="@{'/myactivities/publicevents?state=CA'}"><img src="./../../resources/images/allevent.png" th:src="@{/resources/images/allevent.png}"  alt="" /></a></div>
 
   </div>
   <div class=" clear"></div>
   <div id="searchbar"><input name="Search " type="text" class="searchbox1" id="Search "  value="Search Event"/> </div> 
    <div class=" clear"></div>
	     <!-- start box-->
    <div id="box" th:each="event : ${events}">
     <div id="image"><img src="./resources/images/run.png" th:src="@{/resources/images/run.png}"  width="36" height="40" /></div>
     <!--start inner box -->
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          <input type="hidden" id="eventid" name="eventid" th:value="${event.id}" />
          <a th:href="@{'/myactivities/' + ${authname} + '/event/' + ${event.id}}"><h1 th:text="${event.message}">RUNNING</h1></a>
          <div id="rightbox"><span class="imdb" th:id="'imdbrating_' + ${event.id}"></span>
          <img src="./resources/images/yellowstar.png" th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img src="./resources/images/yellowstar.png" th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img src="./resources/images/yellowstar.png" th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img src="./resources/images/yellowstar.png" th:src="@{/resources/images/yellowstar.png}" width="14" height="14" />
           <img src="./resources/images/halfyellowstar.png" th:src="@{/resources/images/halfyellowstar.png}" width="14" height="14" /> 
           </div>
          </div>
           <!--end heading -->
           <!--start subheading -->
           <div id="subheading">
             <h2 th:text="${event.formattedAddress}">Ponderosa Park, Sunnyvale,CA <a href="#">(View Map)</a></h2>
             <div class="nighttemp" th:id="'temperature_' + ${event.id}">
             </div>
          </div>
               <!--end subheading -->
		<div class="style3"><img src="./resources/images/participants.png" width="25" height="21" /> <span th:text="${#lists.size(event.facebookAccepted)}">21 </span> Participants accepted this Event</div>
          <div class="style1" th:text="${#dates.format(event.startDate, 'EEEE dd, MMMM yyyy')}">Friday, 20 Decomber 2013   </div>
      <div class="style2" ><span th:text="${#dates.format(event.startDate, 'HH:mm a')}">8:30am</span> &nbsp;&nbsp; &rarr;&nbsp;&nbsp; <span th:text="${#dates.format(event.endDate, 'HH:mm a')}">8:30am</span> <span class="imdb" style="font-size:18px;">(<span th:text="${event.duration}">1</span>hour(s))</span></div>
      
      <!--start join-decline-button -->
		<div id="join_btn" th:if="${showAcceptReject}">
			<a href="javascript:void(0)" th:onclick="'javascript:acceptEvent(\'' + ${event.id} +  '\')'"><img th:src="@{/resources/images/join_button.png}" /></a> 
		</div>
		<div id="dcline_btn" th:if="${showAcceptReject}">
			<a href="javascript:void(0)" th:onclick="'javascript:rejectEvent(\'' + ${event.id} + '\')'"><img th:src="@{/resources/images/decline_button.png}" /></a>	
		</div>
 <!--end join-decline-button -->
    </div>
    <!--end innerbox -->
    </div>     <!-- end box-->
    <div class="moreevents">more events
    </div>
   </section>
    
   </article> 
   
   
   
   
  <!--aside start--> 
  <aside>
      <div class="calenderbutton">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="./../../resources/images/calender.jpg" th:src="@{/resources/images/calender.jpg}" width="110" height="36" /></td>
    <td><img src="./../../resources/images/group.jpg" th:src="@{/resources/images/group.jpg}" width="110" height="36" /></td>
  </tr>
</table>

    </div>
    <div class="calender">
       <img src="./../../resources/images/date.jpg"  th:src="@{/resources/images/date.jpg}" width="232" height="207" /> 
       </div>
    <div class= "topparti">Top Participats </div>
       <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}"  width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}"  width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}"  width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}"  width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}"  width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
      <div class= "topparti">People You May Know</div>
      <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}"  width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}"  width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}"  width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}"  width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="./../../resources/images/topparticipant.jpg" th:src="@{/resources/images/topparticipant.jpg}" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="./../../resources/images/connect.png" th:src="@{/resources/images/connect.png}" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
  </aside>
  <!--aside close-->
  <!--footer start-->
   <footer th:include="include :: footer">
   </footer>
<!--footer close-->
</div>
<!--content close-->
</body>
</html>
