<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>RIVVUE</title>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
   <div id="logo">
   <img src="images/logo.png" width="150" height="36" /> </div>
   <nav>
      <ul>
         <li><a href="#">What's New</a>
|         
</li>
         <li><a href="#">Sign In</a> 
|
         </li>
         <li><a href="#">Sign Up</a>
      </li></ul>
   </nav>
</header>
<div id="content1">

   <article>
   
   <section> 
  <!--topmenu start-->
    <div class="topmenu">
   <ul>
   <li><a href="#">Events</a> </li>
   <li>|</li>
   <li><a href="#">Calendar</a> </li>
   <li>|</li>
   <li><a href="#">Contacts</a></li>
   
   </ul>
   
   </div>
   
   <!--topmenu end-->
   
   <div class="event1">
   <div class="createevent"><a href="#"><img src="images/createevent.png" alt="" /></a></div>
     <div class="myevent"><a href="#">My Events</a></div>
   <div class="allevent"><img src="images/allevent.png" alt="" /></div>
 
   </div>
   <div class=" clear"></div>
   <div id="searchbar"><input name="Search " type="text" class="searchbox1" id="Search "  value="Search Event"/> </div> 
    <div class=" clear"></div>
   <div id="box">
     <div id="image"><img src="images/flag.png" width="39" height="39" /></div>
     <!--start inner box -->
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          <h1>PLAY VOLLEYBALL</h1>
          <div id="rightbox"><img src="images/redstar.png" width="17" height="17" />
           <img src="images/redstar.png" width="17" height="17" />
           <img src="images/redstar.png" width="17" height="17" />
           <img src="images/redstar.png" width="17" height="17" />
           <img src="images/greystar.png" width="17" height="17" /> 8 yorum
           </div>
          </div>
           <!--end heading -->
           <!--start subheading -->
           <div id="subheading">
             <h2>Ponderosa Park, Sunnyvale,CA  <a href="#">(View Map)</a></h2>
             <div class="daytemp">17*
             </div>
          </div>
               <!--end subheading -->
    
    <p>In product Help provides access to all documentation and instructional content available at the time the software ships. It is available through the Help menu in your Adobe software.


    </p>
    </div>
    <!--end innerbox -->
    </div>
    <!--end box-->
    <div id="box">
     <div id="image"><img src="images/run.png" width="36" height="40" /></div>
     <!--start inner box -->
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          <h1>RUNNING</h1>
          <div id="rightbox"><span class="imdb">IMDB RATING 8.6</span>
          <img src="images/yellowstar.png" width="14" height="14" />
           <img src="images/yellowstar.png" width="14" height="14" />
           <img src="images/yellowstar.png" width="14" height="14" />
           <img src="images/yellowstar.png" width="14" height="14" />
           <img src="images/halfyellowstar.png" width="14" height="14" /> 
           </div>
          </div>
           <!--end heading -->
           <!--start subheading -->
           <div id="subheading">
             <h2>Ponderosa Park, Sunnyvale,CA <a href="#">(View Map)</a></h2>
             <div class="nighttemp">17*
             </div>
          </div>
               <!--end subheading -->
          <div class="style1">Friday, 20 Decomber 2013   </div>
      <div class="style2">8:30am &nbsp;&nbsp; &rarr;&nbsp;&nbsp; 9:30am <span class="imdb">(1hour)</span></div>
      <div class="style1">7:00pm &nbsp;&nbsp; &rarr;&nbsp;&nbsp; 8:00pm (PST) </div>
    </div>
    <!--end innerbox -->
    </div><div id="box">
     <div id="image"><img src="images/sports.png" width="37" height="48" /></div>
     <!--start inner box -->
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          <h1>SPORTS EVENTS</h1>
          <div id="rightbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="images/greenbar.png" width="150" height="17" /></td>
                <td><span class="imdb">90/100</span></td>
              </tr>
            </table>
          </div>
          </div>
           <!--end heading -->
           <!--start subheading -->
           <div id="subheading">
             <h2>Ponderosa Park, Sunnyvale,CA</h2>
             <div class="daytemp">17*
             </div>
          </div>
               <!--end subheading -->
    
    <div class="style3"><img src="images/participants.png" width="25" height="21" /> 21 Participants Joined this Event
    </div>
    </div>
    <!--end innerbox -->
    </div><div id="box">
     <div id="image"><img src="images/flag.jpg" width="39" height="39" /></div>
     <!--start inner box -->
     <div id="innerbox">
          <!--start heading -->
          <div id="heading">
          <h1>PLAY VOLLEYBALL</h1>
          <div id="rightbox">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="images/greenbar.png" width="150" height="17" /></td>
                <td><span class="imdb">90/100</span></td>
              </tr>
            </table>
          </div>
           </div>
           <!--end heading -->
           <!--start subheading -->
           <div id="subheading">
             <h2>PLAY VOLLEYBALL</h2>
             <div class="daytemp">17*
             </div>
           </div>
               <!--end subheading -->
    
    <p>In product Help provides access to all documentation and instructional content available at the time the software ships. It is available through the Help menu in your Adobe software.


    </p>
    </div>
    <!--end innerbox -->
    </div>
    <!--end box-->
    <div class="moreevents">more events
    </div>
   </section>
    
   </article> 
   
   
   
   
  <!--aside start--> 
  <aside>
      <div class="calenderbutton">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="images/calender.jpg" width="110" height="36" /></td>
    <td><img src="images/group.jpg" width="110" height="36" /></td>
  </tr>
</table>

    </div>
    <div class="calender">
       <img src="images/date.jpg" width="232" height="207" /> 
       </div>
    <div class= "topparti">Top Participats </div>
       <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
      <div class= "topparti">People You May Know</div>
      <div id = "topparticipats">
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Barbara Tisiot
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Katie Milburn
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">Josh Kripura
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       <div id = "topparticipatsbox">
       <div class="topparticipatsimg"><img src="images/topparticipant.jpg" width="40" height="40" />
       </div>
       <div class="topparticipatsname">David
       </div>
       <div class="topparticipatscomment"><img src="images/connect.png" width="80" height="20" />
       </div>
       </div>
       
       
       </div>
  </aside>
  <!--aside close-->
  <!--footer start-->
   <footer><a href="#">Terms</a> <a href="#">| </a> <a href="#">Privacy Policy</a><a href="#">| </a><a href="#"> About Us</a> <a href="#">| </a> <a href="#">Contact Us</a>
   <div class="copyright">&copy; 2014 RIVVUE. All Right Reserved
   </div>
</footer>
<!--footer close-->
</div>
<!--content close-->
</body>
</html>
